body{
    background-color: lightblue;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
h1{
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    line-height: 1.6;
}
img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}


a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}


